{% extends 'base/base.html' %}

{% block main %}
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>About Us</h1>
                <div class="page-nav">
                    <p><a href="{{ url_for('main.index') }}">Home</a> &nbsp; | &nbsp; <a href="#">About Us</a></p>
                </div>
            </div>
        </div>  
    </div>

    <section>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-5">
                    <figure class="AgriTech-about-img">
                        <img src="static/images/common/AgriTech-about.jpg" alt="">
                    </figure>
                </div>
                <div class="col-lg-7 col-mt-lg">
                    <div class="about-AgriTech-info">
                        <h5>About AgriTech</h5>
                        <h2>Bright nature <br /><span class="light-text">of decision</span></h2>
                        <p>Helping farmers to emerging markets maximize their profits. We use agronomic machine
                            learning, remote sensing, and
                            mobile phones to deliver financing, farm products. Has 26 affiliated state soybean
                            associations representing 30 soybean-producing state. </p>
                        <p>Customized advice to smallholder farmers with radical efficiency and scalability agricultural
                            methods used. Curabitur mollis bibendum luctus.
                            Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam</p>
                        <figure class="signature">
                            <img src="static/images/common/signature.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <div class="ws-services mt-5 mb-5">
            <div class="row">
                <div class="col-lg-5 ws-left-layer">
                    
                </div>
                <div class="col-lg-7 ws-right-layer">
                    <div class="inner-ws-right">
                        <div class="layer-box">
                            <div class="media">
                                <img src="static/images/icons/farmer.svg" class="mr-3" alt="...">
                                <div class="media-body">
                                <h4 class="mt-0">Industry Oriented</h4>
                                <p>Enabling Ecosystem for Food and Agriculture through Digital Innovation at the World Summit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="layer-box">
                            <div class="media">
                                <img src="static/images/icons/fruits.svg" class="mr-3" alt="...">
                                <div class="media-body">
                                <h4 class="mt-0">Fresh Vegetables</h4>
                                <p>The mission of AgriTech is to facilitate the discussion on the adoption and use digital innovations..</p>
                                </div>
                            </div>
                        </div>
                        <div class="layer-box">
                            <div class="media">
                                <img src="static/images/icons/agronomy.svg" class="mr-3" alt="...">
                                <div class="media-body">
                                <h4 class="mt-0">We are Passionate</h4>
                                <p>Latest analysis by the Cadre Harmonisé indicates an increase in acute food insecurity of more than percent..</p>
                                </div>
                            </div>
                        </div>
                        <div class="layer-box">
                            <div class="media">
                                <img src="static/images/icons/wheat.svg" class="mr-3" alt="...">
                                <div class="media-body">
                                <h4 class="mt-0">Natural Products</h4>
                                <p>The Food and Agriculture Organization’s Food Price Index averaged 94.2 points in July, a 1.2 percent increase..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

        <div class="container mt-5 mb-5">
            <div class="layer-title">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="lt-leftside">
                            <h2>Meet  <br /><span class="light-text">Our Team</span></h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="lt-rightside">
                            <p>We specialise in intelligent & effective Search and believes in the power of partnerships to grow business. We use agronomic machine learning, remote sensing.</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="team-carousel">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <figure class="portrait-layer yellow">
                            <img src="static/images/common/portrait1.jpg" alt=""/>
                            <div class="team-caption">
                                <h4>Matt Ryan</h4>
                                <p>Food Production</p>
                            </div>
                            <div class="icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="corner"><i class="fas fa-expand-alt"></i></div>
                        </figure>
                    </div>
                    <div class="item">
                        <figure class="portrait-layer yellow">
                            <img src="static/images/common/portrait2.jpg" alt=""/>
                            <div class="team-caption">
                                <h4>Jessica Smith</h4>
                                <p>Stocker</p>
                            </div>
                            <div class="icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="corner"><i class="fas fa-expand-alt"></i></div>
                        </figure>
                    </div>
                    <div class="item">
                        <figure class="portrait-layer yellow">
                            <img src="static/images/common/portrait3.jpg" alt=""/>
                            <div class="team-caption">
                                <h4>Tim Thomas</h4>
                                <p>Laborer</p>
                            </div>
                            <div class="icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="corner"><i class="fas fa-expand-alt"></i></div>
                        </figure>
                    </div>
                    <div class="item">
                        <figure class="portrait-layer yellow">
                            <img src="static/images/common/portrait4.jpg" alt=""/>
                            <div class="team-caption">
                                <h4>Laura Jones</h4>
                                <p>Warehouse</p>
                            </div>
                            <div class="icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="corner"><i class="fas fa-expand-alt"></i></div>
                        </figure>
                    </div>
                    <div class="item">
                        <figure class="portrait-layer yellow">
                            <img src="static/images/common/portrait5.jpg" alt=""/>
                            <div class="team-caption">
                                <h4>Alex Cora</h4>
                                <p>Food Production</p>
                            </div>
                            <div class="icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="corner"><i class="fas fa-expand-alt"></i></div>
                        </figure>
                    </div>
                    <div class="item">
                        <figure class="portrait-layer yellow">
                            <img src="static/images/common/portrait6.jpg" alt=""/>
                            <div class="team-caption">
                                <h4>Robert Belle</h4>
                                <p>Food Production</p>
                            </div>
                            <div class="icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="corner"><i class="fas fa-expand-alt"></i></div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <div class="cta-counter mt-5 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="cta-content">
                            <h3>The Precision  <br /><span class="light-text">agriculture </span></h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cta-btn">
                            <a href="#" class="btn button">Contact Us</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="careers-parallax mt-5">
            <div class="container">
                <div class="cp-bg-layer">
                    <div class="cp-content">
                        <h3>The Spirit  <br /><span class="light-text">of Innovation </span></h3>
                        <p>If you are looking for a fun, challenging, fast-paced work environment with growth opportunities, come join our incredible.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
