{% extends 'base/base-home.html' %}

{% block main %}
    <section>
        <div class="container mt-5 mb-5">
            <div class="row"> 
                <div class="col-lg-6">
                    <div class="home-about-alt">
                        <h5>About AgriTech</h5>
                        <h2>Providing Food <br /> <span class="light-text">Energy to World</span></h2>
                        <p>
                            <strong>Growing community by inspiring healthy is our commitment with farmers, the abundant
                                living on the field.</strong>
                        </p>
                        <p>People at AgriTech are helping farmers to emerging markets maximize their profits. We use
                            agronomic machine learning, remote sensing, and mobile phones to deliver. AgriTech has met the
                            demands of a growing world.</p>
                        <div class="counter-inner-box">
                            <div class="media">
                                <img src="static/images/icons/farmer.svg" class="mr-3" alt="...">
                                <div class="media-body">
                                    <div class="counter" data-count="733">0</div>
                                    <p>Happy Customers </p>
                                </div>
                            </div>
                        </div>
                        <div class="counter-inner-box">
                            <div class="media">
                                <img src="static/images/icons/wheat.svg" class="mr-3" alt="...">
                                <div class="media-body">
                                    <div class="counter" data-count="478">0</div>
                                    <p>Cultivate Yards</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-mt-lg">
                    <figure class="home-about-img-alt">
                        <img src="static/images/common/ag-pic-11.jpg" alt="">
                    </figure>
                </div> 
            </div> 
        </div>

        <div class="popup-parallax">
            <div class="parallax-content">
                <h2>Providing the finest products <br /> <span class="light-text">to the best feed suppliers.</span>
                </h2>
                <p>Helping farmers to emerging markets maximize their profits. <br />We use agronomic machine learning,
                    remote sensing, and mobile phones.</p>
                <div class="parallax-btn">
                    <a href="contact.html" class="btn button btn-white">Request Quote</a>
                    <a href="contact.html" class="btn button">Contact Us</a>
                </div>
            </div>
        </div>

        <div class="container mt-5 mb-5"> 
            <div class="row"> 
                <div class="col-lg-6"> 
                    <div class="masonry-left-layer" data-aos="fade-up">
                        <div class="ml-caption">
                            <h3>Grow <span class="light-text">Naturally</span></h3>
                            <p>Conducting surveillance in these areas in response to avian influenza being detected in local poultry and emu farms to stop its spread.</p>
                        </div>
                        <figure class="ml-img">
                            <img src="static/images/common/ag-pic-8.jpg" alt="">
                        </figure>
                    </div>
                </div> 
                <div class="col-lg-6 col-mt-lg">
                    <div class="masonry-right-layer" data-aos="fade-down">
                        <figure class="ml-img">
                            <img src="static/images/common/ag-pic-9.jpg" alt="">
                        </figure>
                        <div class="ml-caption">
                            <h3>Field is <span class="light-text">Futures</span></h3>
                            <p>We host a series of webinars to assist landholders with animal nutrition, farm water and soil management in Central and East Gippsland.</p>
                        </div>
                    </div> 
                </div> 
            </div> 
        </div>

        <div class="front-parallax xmt-5 xmb-5">
            <div class="container"> 
                <div class="row"> 
                    <div class="col-md-8 col-lg-5">
                        <div class="fp-contact">
                            <h3>Get in Touch </h3>
                            <p>Send us you message and we will get back to you!</p>
                            <div class="contact-form">
                                <form id="contact-form">
                                    <div class="messages"></div>
                                    <div class="controls">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input id="form_name" type="text" name="name"
                                                        class="form-control custom-form" placeholder="Name"
                                                        required="required" data-error="First name is required.">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input id="form_email" type="email" name="email"
                                                        class="form-control custom-form" placeholder="Email address"
                                                        required="required" data-error="Valid email is required.">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input id="form_phone" type="tel" name="phone"
                                                        class="form-control custom-form"
                                                        placeholder="Please enter your phone">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea id="form_message" name="message"
                                                        class="form-control custom-form" placeholder="Your message"
                                                        rows="3" required="required"
                                                        data-error="Please,leave us a message."></textarea>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-contact">
                                            <input type="submit" class="btn btn-contact button" value="Send message">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>

        <div class="container mt-5 mb-5"> 
            <div class="layer-title text-center">
                <h2>AgriTech <span class="light-text">partners</span></h2>
            </div>
            <div class="row"> 
                <div class="col-6 col-md-3">
                    <div class="client-box">
                        <figure class="client-icon">
                            <img src="static/images/common/client-logo-1.jpg" alt="">
                        </figure>
                    </div> 
                </div> 
                <div class="col-6 col-md-3">
                    <div class="client-box">
                        <figure class="client-icon">
                            <img src="static/images/common/client-logo-2.jpg" alt="">
                        </figure>
                    </div> 
                </div>
                <div class="col-6 col-md-3">
                    <div class="client-box">
                        <figure class="client-icon">
                            <img src="static/images/common/client-logo-3.jpg" alt="">
                        </figure>
                    </div> 
                </div>
                <div class="col-6 col-md-3">
                    <div class="client-box">
                        <figure class="client-icon">
                            <img src="static/images/common/client-logo-4.jpg" alt="">
                        </figure>
                    </div> 
                </div>
                <div class="col-6 col-md-3">
                    <div class="client-box">
                        <figure class="client-icon">
                            <img src="static/images/common/client-logo-5.jpg" alt="">
                        </figure>
                    </div> 
                </div> 
                <div class="col-6 col-md-3">
                    <div class="client-box">
                        <figure class="client-icon">
                            <img src="static/images/common/client-logo-6.jpg" alt="">
                        </figure>
                    </div> 
                </div>
                <div class="col-6 col-md-3">
                    <div class="client-box">
                        <figure class="client-icon">
                            <img src="static/images/common/client-logo-7.jpg" alt="">
                        </figure>
                    </div> 
                </div>
                <div class="col-6 col-md-3">
                    <div class="client-box">
                        <figure class="client-icon">
                            <img src="static/images/common/client-logo-8.jpg" alt="">
                        </figure>
                    </div> 
                </div>
            </div> 
        </div>
    </section>
{% endblock main %}
